<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seungmin1216.team">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DestinationActivity" />
        <activity android:name=".OriginActivity" />
        <activity android:name=".BookmarkActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ApplyListActivity" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".RequsetMain" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".Map.MapMainActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="25e46bd4cc70d75492861d269eb8b184" />

        <activity android:name=".MypageActivity" />
        <activity android:name=".InfoChangeActivity" />
        <activity android:name=".PwChangeActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".ReferenceActivity" />
        <activity android:name=".NoticeActivity" />
        <activity android:name=".PopupActivity"></activity>
    </application>

</manifest>